@import url('https://fonts.googleapis.com/css?family=Kanit');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body{
    height: 100vh;
}


nav.menu-lateral{
    width: 115px;
    height: 100%;
    background-color: rgb(255, 166, 0);
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0px 0px chocolate;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.7s;
}

nav.menu-lateral:hover{
    width: 345px;
}
nav.menu-lateral ul{
    list-style:none;
    height: 100%;
}

.btn-expandir > i{
    color: white;
    font-size: 35px;
    cursor: pointer;
    margin-left: 26px;
}

ul li.item-menu:hover{
    background-color: chocolate;
    margin-right: 10px;
}

ul li.item-menu{
    transition: 0.7s;
    margin-right: 10px;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    line-height: 40px;
    font-size: 30px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 80px;
}

ul li.item-menu a .icon > i{
    font-size: 40px;
    margin-right: 50px;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

nav.menu-lateral .btn-expandir{
    width: 100%;
    padding-left: 10px;
}

img{
   width: 50%;
   display: flex;
   align-items: center;
   margin-left: 185px;
}

#minhaDiv{
   margin-left: 555px;
}

#button-add{
   margin-left: 225px;
}

#pdf-icon{
   font-size: 40px;
}

h1{
   font-size: 30px;
   color: red;
   margin-left: 376px;
}


#btn-submit{
   margin-top: 15px;
   margin-left: 55px;
}

#btn-submitmateria{
   margin-top: 15px;
   margin-left: 20px;
}

#minhaDiv > form > .input{
   margin-top: 15px;
}

#divMinha > form > .input{
   margin-top: 15px;
}

#button-add > a > i{
   font-size: 30px;
   cursor: pointer;
}

#button-edit > a > i{
   font-size: 30px;
   cursor: pointer;
}

#btn-detalhes{
   font-size: 25px;
}

#btn-detalhes:hover{
    color: chocolate;
    cursor: pointer;
}

td{
    font-size: 20px;
}

#conteudoid{
    display: none;
}

#comentario-autor > i{
   font-size: 24px;
}

#comentario-autor{
   margin-left: 395px;
}

h2{
   margin-top: 45px;
   font-size: 25px;
   color: red;
}

#comentario-autor > b{
   font-size: 28px;
}